{% extends "baza/wzor.html" %}
{% load increment from tags %}
{% block title %} Stelaz - Panel Administracyjny BN{% endblock %}

{% block content %}
<div class="w3-responsive"> <table> <tr>
    <td id="leftpanel">
        <table id="leftpanel">
            <tr>
                <td  id="leftpanel">
                    <div id="empty10_10"></div>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <img src="http://bieg-nocny.pl/assets/img/bn-inv.png"  align="center" width="120" height="60">
                </td>
            </tr>
            <tr>
                <td  id="leftpanel">
                    <div id="empty10_10"></div>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/ekipy" class="button">
                        Ekipy
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/ekipyHS" class="buttonred">
                        Ekipy HS
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/ekipyW" class="buttonred">
                        Ekipy W
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/ekipyR" class="buttonred">
                        Ekipy R
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/instrukcje" class="button">
                        Instrukcje
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/punktyHS" class="buttonred">
                        Punkty HS
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/punktyW" class="buttonred">
                        Punkty W
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/punktyR" class="buttonred">
                        Punkty R
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/ustawienia" class="button">
                        Ustawienia
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="login/" class="button">
                        Wyjście
                    </a>
                </td>
            </tr>
        </table>
    </td>


    <td >
        <h1> Panel Administracyjny Biegu Nocnego </h1>
        <div id="greyline_short"> </div>
        <div id="empty"> </div>

            <table id="memberstable2" >
                {% for Osoba in Kadra %}

                 <tr>
                     <td width="5%"> <b> {{Osoba.funkcja}} </b> </td>
                     <td width="20%">{{Osoba.nazwisko}}</td>
                     <td width="20%">{{Osoba.mail}} </td>
                     <td width="20%">{{Osoba.telefon}}</td>
                     <td width="35%">  </td>
                </tr>

                {% endfor %}

            </table>




</td></tr></table></div>

{%endblock%}
