{% extends "baza/wzor.html" %}
{% load increment from tags %}
{% block title %} Stelaz - Panel Administracyjny BN{% endblock %}

{% block content %}
<div class="w3-responsive"> <table> <tr>
    <td id="leftpanel">
        <table id="leftpanel">
            <tr>
                <td  id="leftpanel">
                    <div id="empty10_10"></div>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <img src="http://bieg-nocny.pl/assets/img/bn-inv.png"  align="center" width="120" height="60">
                </td>
            </tr>
            <tr>
                <td  id="leftpanel">
                    <div id="empty10_10"></div>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a target="_blank" rel="noopener noreferrer" href="/admin/baza" class="button">
                        Edycja
                    </a>
                </td>
            </tr>
            <tr>
                <td id="leftpanel">
                    <a href="/start" class="button">
                        Wróć
                    </a>
                </td>
            </tr>
        </table>
    </td>


    <td >
        <h1> Ustawienia Główne </h1>
        <div id="greyline_short"> </div>
        <div id="empty"> </div>

            <table id="memberstable2" >
                 <tr>
                     <td width="20%">
                         <a target="_blank" rel="noopener noreferrer" href="/admin/baza/plikcsv/add/" class="button">
                             Dodaj plik CSV
                         </a>
                     </td>
                     <td width="20%"> </td>
                     <td width="20%"> </td>
                     <td width="20%"> </td>
                     <td width="20%"> </td>
                </tr>

            </table>




</td></tr></table></div>

{%endblock%}
